<aside>
    <nav id="navV">
        <ul>
            <li>
                <a href="{{path('app_main')}}" id="logo" class="toHover" >
                    <img src="/images/sLogo.png" alt="Sref">
                    <span class="nav-item">ref</span>
                </a>
            </li>

            <li>
                <a href="{{path('news')}}" class="toHover" >
                    <img src="/images/newsIcon.svg" alt="News">
                    <span class="nav-item">News</span>
                </a>
            </li>

            <li>
                <a href="{{path('app_guide_index')}}" class="toHover" >
                    <img src="/images/guidesIcon.svg" alt="Guides">
                    <span class="nav-item">Guides</span>
                </a>
            </li>

            <li>
                <a href="{{path('tierList')}}" class="toHover" >
                    <img src="/images/tierListIcon.svg" alt="TierList">
                    <span class="nav-item">TierList</span>
                </a>
            </li>

            <li>
                <a href="{{path('theoryCraft')}}" class="toHover" >
                    <img src="/images/tcIcon.svg" alt="TheoryCraft">
                    <span class="nav-item">TheoryCraft</span>
                </a>
            </li>

            <li>
                <a href="{{path('skins')}}" class="toHover" >
                    <img src="/images/skinsIcon.svg" alt="Skins">
                    <span class="nav-item">Skins</span>
                </a>
            </li>

            <li>
                <a href="{{path('codes')}}" class="toHover" >
                    <img src="/images/codesIcon.svg" alt="Codes">
                    <span class="nav-item">Codes</span>
                </a>
            </li>
        </ul>
    </nav>


    <button class="hamburger">
        <div class="bar"></div>
    </button>

    <nav class="mobile-nav">
        <a href="{{path('app_main')}}">Home</a>
        <a href="{{path('news')}}">News</a>
        <a href="{{path('app_guide_index')}}">Guides</a>
        <a href="{{path('tierList')}}">Tier List</a>
        <a href="{{path('theoryCraft')}}">Theory Craft</a>
        <a href="{{path('skins')}}">Skins</a>
        <a href="{{path('codes')}}">Codes</a>

    </nav>
</aside>