

<aside>
    <nav id="navV">
                <ul>
                    {# <li>
                        <a href="/" id='sLogo' class="">
                            <img src="images/sRefLogo.png" alt="" class="classImg">
                        </a>
                    </li> #}
                    
                    <li>
                        <a href="{{ path('news') }}" class="classIcons">
                            <img src="images/newsIcon.svg" alt="" class="classImg">
                        </a><span class="textIcons">News</span>
                    </li>
                    <li>
                        <a href="{{ path('guides') }}" class="classIcons">
                            <img src="images/guidesIcon.svg" alt="" class="classImg">
                        </a><span class="textIcons">Guides</span>
                    </li>
                    <li>
                        <a href="{{ path('app_main') }}" class="classIcons">
                            <img src="images/tierListIcon.svg" alt="" class="classImg">
                        </a> <span class="textIcons">Tier List</span>
                    </li>
                    <li>
                        <a href="{{ path('app_main') }}" class="classIcons">
                            <img src="images/tcIcon.svg" alt="" class="classImg">
                        </a><span class="textIcons">Team comps</span>
                    </li>
                    <li>
                        <a href="{{ path('app_main') }}" class="classIcons">
                            <img src="images/skinsIcon.svg" alt="" class="classImg">
                        </a><span class="textIcons">Skins</span>
                    </li>
                    <li>
                        <a href="{{ path('app_main') }}" class="classIcons">
                            <img src="images/codesIcon.svg" alt="" class="classImg">
                        </a><span class="textIcons">Codes</span>
                    </li>
                </ul>
           </nav>
</aside>